.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main-content {
  flex-grow: 1; // Faz o conteúdo principal ocupar o espaço disponível
}

// Ajustes para o p-toolbar se necessário
:host ::ng-deep .p-toolbar {
  // ::ng-deep pode ser necessário para estilizar componentes PrimeNG encapsulados
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
